<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
</head>

<body>
    <%- include('header'); %>
        <main>
            <div class="article">
                <% if (article.category==='all' ) { %>
                    <h1>
                        <%= article.title %>
                    </h1>
                    <p>
                        <%= article.content %>
                    </p>
                    <% } %>
                        <% if (article.category==='limited' ) { %>
                            <i>KHUSUS ANGGOTA</i>
                            <h1>
                                <%= article.title %>
                            </h1>
                            <!-- Hapus code dibawah ini -->
                            <!-- Buatlah sebuah pernyataan if dengan locals.isLoggedin sebagai expression bersyarat -->
                            <% if(locals.isLoggedIn) { %>
                                <p>
                                    <%= article.content %>
                                </p>
                                <% } else { %>
                                    <div class="article-login">
                                        <p>Ayo login sekarang!</p>
                                        <p>Silahkan login untuk membaca<br>artikel selengkapnya.</p>
                                        <img src="/images/login.svg">
                                        <a class="btn" href="/login">Login</a>
                                    </div>
                                    <% } %>
                                        <% } %>
            </div>
        </main>
        <footer>
            <a class="btn sub" href="/list">Kembali ke Artikel</a>
        </footer>
</body>

</html>